<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/login.css">
    <style>
        body {background-color: powderblue;
            font-size: 150%;
            font-family: verdana;}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<form action="/login" method="POST" class="form-container">
    <label for="username">Username:</label>
    <input class="form" type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input class="form" type="password" id="password" name="password" required>
    <button class="glow-on-hover" type="submit">LOGIN</button>
</form>
</body>
</html>